In [41]:
import os
import pandas as pd
import numpy as np
import csv

Reading the data of the world happiness report from the files for the years 2015, 2016 and 2017.

In [29]:
data_path = "./../world-happiness-report/"

df_2015 = pd.read_csv(f"{data_path}2015.csv")
df_2016 = pd.read_csv(f"{data_path}2016.csv")
df_2017 = pd.read_csv(f"{data_path}2017.csv")
df_2015.head(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

## Creating combined dataset for all 3 years

    From these csv files, we need to create one output file 'world-happiness-report.csv' which has below columns:
        - country
        - region
        - happiness_score
        - year

### Preprocessing 2015 dataset
Since all these files has different column names, We will convert them into 1 single format.

In [47]:
pd.read_csv('2015.csv', nrows=1).columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [48]:
op_2015 = df_2015[['Country', 'Region', 'Happiness Score']]
op_2015.insert(3, 'year', 2015)
op_2015 = op_2015.rename(index=str,
                           columns={'Country':'country', 
                                    'Region':'region', 
                                    'Happiness Score':'happiness_score'})
op_2015.head(5)

       country          region  happiness_score  year
0  Switzerland  Western Europe            7.587  2015
1      Iceland  Western Europe            7.561  2015
2      Denmark  Western Europe            7.527  2015
3       Norway  Western Europe            7.522  2015
4       Canada   North America            7.427  2015

### Preprocessing 2016 dataset

In [49]:
pd.read_csv('2016.csv', nrows=1).columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [50]:
op_2016 = df_2016[['Country', 'Region', 'Happiness Score']]
op_2016.insert(3, 'year', 2016)
op_2016 = op_2016.rename(index=str,
                           columns={'Country':'country', 
                                    'Region':'region', 
                                    'Happiness Score':'happiness_score'})
op_2016.head(5)

       country          region  happiness_score  year
0      Denmark  Western Europe            7.526  2016
1  Switzerland  Western Europe            7.509  2016
2      Iceland  Western Europe            7.501  2016
3       Norway  Western Europe            7.498  2016
4      Finland  Western Europe            7.413  2016

### Preprocessing 2017 dataset

In [51]:
pd.read_csv('2017.csv', nrows=1).columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [54]:
op_2017 = df_2017[['Country', 'Happiness.Score']]
op_2017.insert(2, 'year', 2017)
op_2017 = op_2017.rename(index=str,
                           columns={'Country':'country', 
                                    'Happiness.Score':'happiness_score'})
op_2017.head(5)

       country  happiness_score  year
0       Norway            7.537  2017
1      Denmark            7.522  2017
2      Iceland            7.504  2017
3  Switzerland            7.494  2017
4      Finland            7.469  2017

### Join 2015 and 2017 datasets to get regions coloumn

In [56]:
op_2017_extended = op_2017.merge(op_2015, on='country', how='left', suffixes=['','2015'])
op_2017_extended.head(5)

,country,happiness_score,year,region,happiness_score2015,year2015
0,Norway,7.537,2017,Western Europe,7.522,2015.0
1,Denmark,7.522,2017,Western Europe,7.527,2015.0
2,Iceland,7.504,2017,Western Europe,7.561,2015.0
3,Switzerland,7.494,2017,Western Europe,7.587,2015.0
4,Finland,7.469,2017,Western Europe,7.406,2015.0

In [57]:
op_2017 = op_2017_extended[['country', 'region', 'happiness_score', 'year']]
op_2017.head(5)

       country          region  happiness_score  year
0       Norway  Western Europe            7.537  2017
1      Denmark  Western Europe            7.522  2017
2      Iceland  Western Europe            7.504  2017
3  Switzerland  Western Europe            7.494  2017
4      Finland  Western Europe            7.469  2017

## Joining all 3 files to 1 single file

In [58]:
output = pd.concat([op_2015, op_2016, op_2017], ignore_index=True)
print(f"Total number of records is {len(output)}")
output.head(5)

Total number of records is 470

       country          region  happiness_score  year
0  Switzerland  Western Europe            7.587  2015
1      Iceland  Western Europe            7.561  2015
2      Denmark  Western Europe            7.527  2015
3       Norway  Western Europe            7.522  2015
4       Canada   North America            7.427  2015

In [59]:
result_file = f"./../world-happiness-report/world-happiness-report.json"
output.to_json(result_file, orient='records', lines=True)